.help-block{
  font-size: 10pt;
  color: teal;
}

h1 {
  font-family: arial, 'sans-serif';
  font-size: 18px;
  font-weight: bold;
  color: green;
}

h2 {
  font-family: arial, 'sans-serif';
  font-size: 14px;
  font-weight: bold;
  color: green;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  font-style: normal; 
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

label { 
  font-size: 12px;
  font-weight: bold;
  font-style: normal; 
}

input[type=select] {
  height: 25px;
  width: 90px;
}

hr {
  border-color: black;
}

p {
  max-width: 700px;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
tr {
    max-height: 28px;
}

.shiny-notification{
  color: blue;
  font-size: 12px;
  width:     20%;
  height:     5%;
  max-width: 20%;
  position: fixed;
  left: calc(84%);
  top: calc(95%);
}

.action-button{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;
}

.mypanel{
  margin-top:     5px; 
  margin-bottom: 10px; 
  padding-bottom: 5px;
}

#maskdetailPrint{
  color: black;
  font-size:  12px; 
  min-height: 20px; 
  max-height: 70px;
}

#animalIDPrint{
  color:black; 
  margin-top:  5px; 
  font-size:  12px; 
  min-height: 20px; 
  max-height: 120px; 
  min-width:  80px; 
  max-width: 220px;
}

#resultsPrint{
color: blue;
font-size: 12px;
overflow-y: scroll;
min-height: 250px;
max-height: 655px;    /* 270px; */
background: ghostwhite;
}


#codePrint{
  color: blue; 
  font-size: 12px; 
  overflow-y: scroll; 
  min-height: 250px; 
  max-height: 320px; 
  background: ghostwhite;
}

#maskPrint{
  color:blue; 
  font-size: 12px; 
  background: ghostwhite;
}

